<div class="detail">
    <div class="detail__description">
        <p class="detail__paragraph">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor nam rerum facere nesciunt maiores unde iusto quae dolorum temporibus! Accusamus non rerum, a sed explicabo dolorem esse eum animi atque libero cumque modi asperiores. Id officiis voluptatum
            ad error rem. </p>
        <p class="detail__paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, esse maxime. Minus, tenetur magnam! Magni molestiae ab animi unde quibusdam.
        </p>
        <ul class="detail__list">
            <li class="detail__list-item">Close tothe beach</li>
            <li class="detail__list-item">Breakfast included</li>
            <li class="detail__list-item">Close tothe beach</li>
            <li class="detail__list-item">Breakfast included</li>
            <li class="detail__list-item">Close tothe beach</li>
            <li class="detail__list-item">Breakfast included</li>
            <li class="detail__list-item">Close tothe beach</li>
            <li class="detail__list-item">Breakfast included</li>
        </ul>

        <div class="recommend">
            <p class="recommend__count">
                Lucy and 3 other friends recommend this hotel.
            </p>
            <div class="recommend__friends">
                <img src="../assets/img/user-3.jpg" alt="" class="recommend__photo">
                <img src="../assets/img/user-4.jpg" alt="" class="recommend__photo">
                <img src="../assets/img/user-5.jpg" alt="" class="recommend__photo">
                <img src="../assets/img/user-6.jpg" alt="" class="recommend__photo">
            </div>
        </div>
    </div>
    <div class="detail__user-reviews">
        User Reviews
    </div>
</div>