<img src="../assets/img/logo.png" alt=" trillo " class="logo">


<form class="search">
    <input type="text" name="" id="" class="search__input" placeholder="search-hotels">
    <button class="search__button">
        <svg class="search__icon">
            <use xlink:href="../assets/img/sprite.svg#icon-magnifying-glass"></use>
        </svg>
    </button>
</form>
<nav class="user-nav">
    <div class="user-nav__icon-box">
        <svg class="user-nav__icon">
            <use xlink:href="../assets/img/sprite.svg#icon-bookmark"></use>
        </svg>
        <span class="user-nav__notofication">7</span>
    </div>

    <div class="user-nav__icon-box">
        <svg class="user-nav__icon">
            <use xlink:href="../assets/img/sprite.svg#icon-chat"></use>
        </svg>
        <span class="user-nav__notofication">14</span>
    </div>
    <div class="user-nav__user">
        <img src="../assets/img/jainit1.jpg" alt="" class="user-nav__user-photo">
        <span class="user-nav__user-name">Jainit</span>
    </div>
</nav>