<nav class="sidebar">
    <ul class="side-nav">
        <li class="side-nav__item  side-nav__item--active">
            <a routerLink="#" class="side-nav__link">
                <svg class="side-nav__icon">
                    <use xlink:href="../assets/img/sprite.svg#icon-home"></use>
                </svg>
                <span class="side-nav__text">
                    Hotel
                </span>
            </a>
        </li>
        <li class="side-nav__item">
            <a routerLink="#" class="side-nav__link">
                <svg class="side-nav__icon">
                    <use xlink:href="../assets/img/sprite.svg#icon-key"></use>
                </svg>
                <span class="side-nav__text">
                    Flight
                </span>
            </a>
        </li>
        <li class="side-nav__item">
            <a routerLink="#" class="side-nav__link">
                <svg class="side-nav__icon">
                    <use xlink:href="../assets/img/sprite.svg#icon-key"></use>
                </svg>
                <span class="side-nav__link--text">
                    Car Rental
                </span>
            </a>
        </li>
        <li class="side-nav__item">
            <a routerLink="#" class="side-nav__link">
                <svg class="side-nav__icon">
                    <use xlink:href="../assets/img/sprite.svg#icon-map"></use>
                </svg>
                <span class="side-nav__text">
                    Travel
                </span>
            </a>
        </li>
    </ul>
    <div class="legal">
        &copy; 2021 by trillo. All rights reserved
    </div>

</nav>